<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>
<body>
<section>
    <header>
        <h1>Register </h1>
    </header>
    <form method="post">
        <label>Full Name <input name="name" /></label>
        <label>Username <input name="username" /></label>
        <label>Address <input name="address"></label>
        <label>Password <input type="password" name="password" /></label>
        <label>Confirm Password <input type="password" name="confirm_password" /></label>
        <input type="submit" value="Submit" />
    </form>
</section>
</body>
</html>